h1 BitLift (|#=) 


form(method="POST", action="/users")
  p
    label(for="username") From<br />
    input#username(name="username")
  p
    label(for="name") To <br />
    input#name(name="name")
  p
    label(for="bio") Description <br />
    textarea#bio(name="bio")
  p
    input(type="submit", value="Lift")